<div class="Info py-3">
  <h2 class="t-title-1 t-color-primary">Informations générales</h2>
</div>
<div class="t-parag py-3">
  <p>
    Lorem ipsum dolor sit amet consectetur. Consectetur morbi elementum cras
    risus. Suscipit cras vulputate eros feugiat. Ut nulla mauris amet commodo.
  </p>
</div>
<div class="flex flex-col">
  <div class="py-2">
    <div class="SiretNum mb-2 fw-bolder"><label for="">Email</label></div>
    <div class="w-[100]">
      <input
        type="email"
        class="t-input rounded-lg w-full p-3"
        placeholder="Entrer votre email professionnel"
      />
    </div>
  </div>
  <div class="py-2">
    <div class="ConpagnyName mb-2 fw-bolder">
      <label for="">Nom</label>
    </div>
    <div class="w-[100]">
      <input
        type="text"
        class="t-input rounded-lg w-full p-3"
        placeholder="Entrer votre nom"
      />
    </div>
  </div>
  <div class="py-2">
    <div class="ConpagnyName mb-2 fw-bolder">
      <label for="">Prénom</label>
    </div>
    <div class="w-[100]">
      <input
        type="text"
        class="t-input rounded-lg w-full p-3"
        placeholder="Entrer votre prénom"
      />
    </div>
  </div>
  <div class="py-2">
    <div class="ConpagnyName mb-2 fw-bolder">
      <label for="">Téléphone</label>
    </div>
    <div class="w-[100]">
      <input
        type="tel"
        class="t-input rounded-lg w-full p-3"
        placeholder="Entrer votre numéro de téléphone"
      />
    </div>
  </div>
</div>
