<!-- profil de la personne connecté sur la page d'accueil -->
<div class="p-3">
  <div class="bg-[#FFFFFF] rounded-lg mb-5">
    <div class="flex py-3 items-center gap-4">
      <div class="shrink-1">
        <img
          class="border border-[#F5FAFF] rounded-full"
          src="/assets/image/Ellipse 7.svg"
          alt="erreur!"
        />
      </div>
      <div class="inline-block">
        <div class="flex items-center gap-2">
          <div>
            <h1 class="t-color-secondary !font-bold !mb-1">John B. Morgane</h1>
          </div>
          <div>
            <p class="text-[#DC2626] !text-xs bg-[#FEF2F2] rounded-lg">
              Inactive
            </p>
          </div>
        </div>
        <span class="text-[#727272] text-ellipsis">
          Développeur Full Stack DevOps
        </span>
      </div>
    </div>
    <hr class="border border-[#F5FAFF]" />
    <div>
      <div class="flex justify-between items-center py-2">
        <div class="flex !items-center">
          <h2 class="text-[#444444] !font-bold">Complétude du profil</h2>
          <i
            class="fa-solid fa-circle-info text-[#A1A1A1] relative bottom-2 px-1"
          ></i>
        </div>
        <div>
          <span class="text-[#444444]"><b>57%</b></span>
        </div>
      </div>
      <div class="flex py-2">
        <div class="bg-[#FBEBF0] w-full rounded-xl p-1 items-center">
          <span class="t-progress-profil"></span>
        </div>
        <div class="flex items-center gap-2 px-3">
          <i class="fa-solid fa-angle-left text-[#444444]"></i>
          <i class="fa-solid fa-angle-right text-[#444444]"></i>
        </div>
      </div>
    </div>
    <div class="bg-[#F5FAFF] rounded-lg justify-start my-3 p-3">
      <div class="py-2">
        <h4 class="text-[#D53669] !font-bold">Ajouter un curriculum vitae</h4>
      </div>
      <div>
        <p class="text-[#A1A1A1] !text-base py-1">
          Augmenter votre visibilité pour plus attirer les recruteurs en
          ajoutant votre curriculum vitae
        </p>
      </div>
      <div class="t-btn-add py-2">
        <button
          class="text-[#FFFFFF] !font-bold bg-[#D53669] rounded-md px-5 py-3"
        >
          Ajouter
        </button>
      </div>
    </div>
    <hr class="border border-[#F5FAFF]" />
    <div>
      <div class="flex justify-between py-3 items-center">
        <div>
          <h3 class="!font-black text-[#444444]">Compétences</h3>
        </div>
        <div>
          <p class="text-[#444444]">Modifié</p>
        </div>
      </div>
      <div class="text-center py-3 grid grid-cols-1 md:grid-cols-3">
        <span class="t-tool">Python</span>
        <span class="t-tool">Java</span>
        <span class="t-tool">Angular</span>
        <span class="t-tool">React Js</span>
        <span class="t-tool">Docker</span>
        <span class="t-tool">Kubernetes</span>
        <span class="t-tool">Figma</span>
        <span class="t-tool">Boostrap</span>
        <span class="t-tool">Angular Material</span>
      </div>
    </div>
    <hr class="border border-[#F5FAFF]" />
    <div>
      <div class="flex justify-between py-3 items-center">
        <div>
          <h3 class="!font-black text-[#444444]">Mobilités</h3>
        </div>
        <div>
          <p class="text-[#444444]">Modifié</p>
        </div>
      </div>
      <div class="text-center py-3 grid grid-cols-1 md:grid-cols-3">
        <span class="t-tool">Paris</span>
        <span class="t-tool">Toulouse</span>
        <span class="t-tool">Londres</span>
        <span class="t-tool">Marseille</span>
        <span class="t-tool">Berlin</span>
        <span class="t-tool">Madrid</span>
        <span class="t-tool">Lyon</span>
        <span class="t-tool">Nice</span>
        <span class="t-tool">Montpellier</span>
      </div>
    </div>
    <hr class="border border-[#F5FAFF]" />
  </div>
</div>

<div class="p-3">
  <div class="bg-[#FFFFFF] rounded-lg mb-5"></div>
</div>
