<div class="Info py-3">
  <h2 class="text-[#D53669] t-title-1 t-color-primary">Fin d'inscription</h2>
</div>
<div class="t-parag py-3">
  <p>
    Lorem ipsum dolor sit amet consectetur. Consectetur morbi elementum cras
    risus. Suscipit cras vulputate eros feugiat. Ut nulla mauris amet commodo.
  </p>
</div>
<div class="flex flex-col">
  <div class="py-2">
    <div class="mb-2 fw-bolder"><label for="">Mot de passe</label></div>
    <div class="w-[100]">
      <input
        type="password"
        class="t-input rounded-lg w-full p-3"
        placeholder="Entrer votre mot de passe"
      />
    </div>
  </div>
  <div class="py-2">
    <div class="ConpagnyName mb-2 fw-bolder">
      <label for="">Confirmation</label>
    </div>
    <div class="w-[100]">
      <input
        type="text"
        class="t-input rounded-lg w-full p-3"
        placeholder="Entrer votre email"
      />
    </div>
  </div>
</div>
