<div class="Info py-3">
    <h2 class="t-title-1 t-color-primary" >Commençons par le type de compte</h2>
</div>
<div class="t-parag py-3">
    <p>
        Lorem ipsum dolor sit amet consectetur. Consectetur morbi elementum cras
        risus. Suscipit cras vulputate eros feugiat. Ut nulla mauris amet
        commodo.
    </p>
</div>
<div class="t-choose-actors d-flex">
    <div class=" t-btn-choose-type rounded-lg border border-[#B9CAEF] text-center p-5 m-2 " (click)="chooseType('client')">
        <div class="t-client p-[50px]">
            <h3 class="t-color-secondary t-title-2 t-title"><b>Client</b></h3>
        </div>
        <div class="t-parag">
            <p>
                Vous recherchez des consultants ou des appels d’offres dans le
                domaines de l’IT afin de repondre efficacement aux demandes de vos
                clients ?
            </p>
        </div>
    </div>

    <div class="t-btn-choose-type rounded-lg border border-[#B9CAEF] text-center p-5 m-2 " (click)="chooseType('esn')">
        <div class="t-ESN p-[50px]">
            <h3 class="t-color-secondary t-title-2 t-title"><b>ESN</b></h3>
        </div>
        <div class="t-parag">
            <p>
                Vous recherchez des consultants ou des appels d’offres dans le
                domaines de l’IT afin de repondre efficacement aux demandes de vos
                clients ?
            </p>
        </div>
    </div>

    <div class="t-btn-choose-type rounded-lg border border-[#B9CAEF] text-center p-5 m-2" (click)="chooseType('consultant')">
        <div class="t-consultant p-[50px]">
            <h3 class="t-color-secondary t-title-2 t-title"><b>Consultant</b></h3>
        </div>
        <div class="t-parag">
            <p>
                Vous recherchez des consultants ou des appels d’offres dans le
                domaines de l’IT afin de repondre efficacement aux demandes de vos
                clients ?
            </p>
        </div>
    </div>
</div>
