<section>
  <div class="container-fluid ">
    <div class="row row1 ">
      <div class="col-lg-5 col-md-12 col-xs-12  divLogin ">
        <div class="container">
          <div class="mb-3">
            <img src="../../../../assets/image/logo 1.svg" alt="" />
          </div>
          <div class="mt-2 pb-3  text-left">
            <h1>Re-bienvenue</h1>
            <p>
              Bienvenue sur notre page de connexion. Veuillez entrer vos
              informations de connexion ci-dessous pour accéder à votre compte.
            </p>
          </div>
          <div class="mb-3 mt-3">
            <label for="exampleFormControlInput1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" />
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Mot de passe</label>
            <input type="password" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" />
            <div class="text-end"><small> <a href="">Mot de passe oublié ?</a> </small></div>
            
          </div>
          <div class="col-md-12  mt-3">
            <button class="btn btnConnexion ">Se connecter</button>
          </div>
          <div class="row  divDivider boder-2">
            <div class="divider">OU</div>
            <!-- <div class="col-md-5">
              <hr style="width: 10%" />
            </div>
            <div class="col-md-2">
              <p>ou</p>
            </div>
            <div class="col-md-5">
              <hr style="width: 10%; color:red" />
            </div> -->
          </div>

          <div class="row btnLink mt-3">
            <div class="col-md-6 col-xs-12 mb-2"> <button class=" d-flex"> <span class="mr-2 "><img src="../../../../assets/image/login/logos_google-icon.svg" alt=""> </span>Google<span> </span>   </button> </div>
            <div class="col-md-6 col-xs-12 mb-2"><button class=" d-flex "> <span class="mr-2 "><img src="../../../../assets/image/login/logos_linkedin-icon.svg" alt=""> </span> <span>LinkedIn</span></button></div>
          </div>
          <p class="textEnd">Vous n'avez pas de compte ? <span>Inscrivez-vous</span></p>
        </div>
      </div>

      <div id="carouselExampleIndicators" class="carousel carousel-dark slide col-lg-7 col-md-7 " data-bs-ride="carousel">
        <div class="carousel-indicators ">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="3000">
            <div class="divImg mt-3">
              <img src="../../../../assets/image/login/login_illustration1.svg" class=" mx-auto d-block " alt="" />
            </div>

            <div class="carousel-caption d-none d-md-block">
              <h5> <span>Bâtissez une </span>
                 équipe de qualité.  </h5>
              <p>
                Nos consultants sont hautement qualifiés et ont une expérience approfondie dans leur domaine,
                ce qui leur permet de fournir des solutions personnalisées et innovantes pour répondre à vos besoins
                spécifiques.
              </p>
            </div>
          </div>
          <div class="carousel-item " data-bs-interval="2000" >
            <div class="divImg divImg1 mt-3 text-center ">
              <img src="../../assets/image/login/Group1.svg" class=" mx-auto d-block " alt="..." />

              <div class="col-md-12 card1 ">
                <img src="../../../../assets/image/login/Frame46.svg" alt="">
              </div>
              <div class="col-md-12 card2 ">
                
                <img src="../../../../assets/image/login/Frame48.svg" alt="">
              </div>
            </div>
            <div class="carousel-caption d-none d-md-block">
              <h5> Connectez-vous, <br>
               <span>à votre prochaine opportunité de carrière </span> </h5>
              <p>
                Profitez d'un réseau de recruteurs et d'employeurs de qualité pour booster votre carrière
              </p>
            </div>
          </div>
          <div class="carousel-item " data-bs-interval="2000">
            <div class="divImg text-center">
              <img src="../../assets/image/login/Group2.svg" class=" mx-auto d-block " alt="..." />
             
              <div class=" card4">
                
                <img src="../../../../assets/image/login/Frame228.svg" alt="">
              </div>
              <div class=" cardA">
                <img src="../../../../assets/image/login/Frame47.svg" alt="">
              </div>
              <div class=" card3">
                
                <img src="../../../../assets/image/login/Frame49.svg" alt="">
              </div>
              
            </div>

            <div class="carousel-caption caption3 d-none d-md-block">

              <h5> Connectez-vous, <br>
              <span> et trouvez rapidement l'expert idéal. </span> </h5>
              <p>
                Notre plateforme efficace vous permet d'optimiser votre processus de
                sélection de consultants et d'appels d'offres.
              </p>
            </div>
           
          </div>
        </div>
        <!-- <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide="next"
        > 
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>-->
      </div>
    </div>
  </div>
</section>